html{
    height: 100%;
}
.container{
    background: url("../images/background.jpg") ;

    display: grid;
    grid-template-columns: 1fr 1024px 1fr;
    grid-template-rows: 1fr 10fr  100px;
    height: 100%;
}

.container-gallery{
    display: grid;
    grid-template-columns: 1fr 1024px 1fr;
    height: 100%;
}

header{
    grid-row: 1/span 1;
    grid-column: 2/span 1;
    width: 100%;
}
#logo{
    position: absolute;
    grid-column: 2/span 1;
    width: 70px;
    height: auto;
    top:0;
    margin-top: 0;

}
nav {
    border-bottom: 1px solid black;
    margin: auto;
    margin-top: 10px;

}

ul {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 10px;
    font-weight: bold;

}

nav li  {
    display: inline;

    
}

aside{
    position: relative;
    left: 50px;
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    border: rgb(255, 255, 255) solid 1px;
    width: 250px;
    text-align: center;
    color: aliceblue;

}


aside ul{
    flex-direction: column;
    align-items: center;


}

aside li a{
    color: aliceblue;
    margin: 0;
}

li a{
    color: #000;
    font-size: 1.5rem;
    margin-left: 40px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    /* background-color: #000; */
    color: #F80;
}
.twitter::before {
    font-family: "Font Awesome 5 Brands"; content: "\f099";
  }


.content-container{
    grid-row: 2/span 1;
    grid-column: 2/span 1;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.text-container{
    color: aliceblue;
    grid-column: 1/span 1;
}
h1{
    font-size: 50px;
    color: #f80;
    font-family: "Sofia", sans-serif;
    margin: 0;
}







#text-gallery{
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    margin: 0;
}

.image-container{
    grid-column: 2/span 1;
    right: 0;
}

.image-container img{
    margin-top: 100px;
}

.image-container {
    animation: fadeIn 3s; 
    grid-column: 2/span 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


img{
    height: 380px;

}
#image-container img {
    position:absolute;
    height: 380px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    width: auto;
    margin-top: 10px;

    /* padding: 25px; */
    /* margin: 10px; */
    /* border: 1px; */
    /* border-style: dashed; */
}
#image-container img.top:hover {
    opacity:0;
    width: auto;
    margin-top: 10px;
    height: 380px;
  }
#gallery-container{
    
    grid-column: 1/span 2;
    justify-content:space-between;
    
    display: flex;
    flex-wrap:wrap;
    row-gap: 20px;
    flex-direction: row;

}
#gallery-container img{
    width: auto;
    height: 200px;
}


/* img:hover{
    color: rgb(92, 92, 92);
    background-color: rgb(184, 184, 184);
} */

footer{
    background-color: rgb(165, 165, 165);
    grid-row: 3/span 1;
    grid-column: 2/span 1;
    color: rgb(255, 254, 254);
    width: 100%;
    text-align: center;
    padding-top: 20px;     
}

span{
    font-size: 20px;
    color: rgb(244, 0, 0);
}
@media (prefers-reduced-motion) {
    #image-container {
      animation: none;
    }
  }

@media  screen and (max-width: 768px){
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 1fr 200px 100px;

        height: auto;
    }
    .content-container{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
        grid-template-columns: 100%;

    }

    #gallery-container {
        flex-direction: column;
        align-items: center;
    }
    #gallery-container img {
        width: 100%;
        height: auto;
    }
    .text-container{
        margin-top: 0;
    }
    
    footer{
        grid-column: 1/span 1;
        grid-row: 4;
    }
    header{
        grid-column: 1/span 1;
        /* width: 100%; */
    }
    nav{
        /* width: 100%; */
        border-bottom: none;

    }
    nav ul{
        
        flex-direction: column;
        /* width: 100%; */
        
    }
    nav li{
        
        border: #000 solid 1px;
        /* width: 100%; */
    }
    nav li a{
        display: block;
        text-align: right;
    }
    header{
        margin-top: 50px;
        height: 150px;
    }
    .image-container{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .image-container img{
        margin-top: 10px;
        width: 100%;
        height: auto;
    }

    aside{
        grid-column: 1/span 1;
        grid-row: 3/span 1;
        left: 0;
        text-align: left;
        border: none;


        
    }

    aside ul{
        align-items: flex-start;
        padding: 0;
    
    
    }

}